* {
  margin: 0;
  padding: 0;
}

:root {
  --textc: #202020;
  --bgc: rgb(224, 240, 240);
  /* --bgc: blue; */
}

.card__class {
  background-color: var(--bgc);
  margin: 20px;
  padding: 7px;
  border: 2px solid var(--bgc);
  border-radius: 7px;
  height: 550px;
  width: 325px;
}

.card__image {
  width: 325px;
  border-radius: 7px;
}

.card__capsules {
  margin: 20px 0;
}

.card__span {
  border-radius: 50px;
  color: var(--textc);
  border: 1px solid var(--textc);
  padding: 4px 5px 4px 5px;
}
