* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --textc: #202020;
  --bgc: rgb(250, 242, 242);
  /* --bgc: blue; */
}

.card__class {
  background-color: var(--bgc);
  margin: 20px;
  padding: 7px;
  border: 2px solid var(--bgc);
  border-radius: 7px;
  height: 550px;
  width: 325px;
}

.card__class:hover{
  border: 8px solid black;
    background-color: green;
    opacity: 100%;
}

.card__image {
  width: 325px;
  border-radius: 7px;
}

.card__capsules {
  margin: 20px 10px 20px 10px;
}

.card__span {
  border-radius: 50px;
  border: 1px solid var(--textc);
  padding: 4px 8px 4px 8px;
}

.card__a {
  text-decoration: none;
}

.card__a:hover {
  color: var(--textc);
}

.card__title {
  margin: 10px;
}

.card__description {
  margin: 10px;
}

.card__image {
  width: 325px;
  border-radius: 7px;
}

.card__button {
  position: relative;
  top: 35px;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.card__button__span {
  border-radius: 15px;
  border: 1px solid var(--textc);
  padding: 4px 8px 4px 8px;
}

.card__button__a {
  text-decoration: none;
}

.card__button__a:hover {
  color: var(--textc);
}
